{{define "content"}}
<main>
    <h2>欢迎来到我的首页</h2>
    <p>
        这是一个使用原生 Go
        语言开发的博客项目。目前后端正在努力开发中，敬请期待！
    </p>

    <section style="background: #f9f9f9; padding: 15px; border-radius: 5px">
        <h3>最新文章 ({{.Total}}篇)</h3>

        <ul>
            {{range .Posts}}
            <li
                style="
                    margin-bottom: 20px;
                    border-bottom: 1px dashed #ddd;
                    padding-bottom: 10px;
                "
            >
                <strong style="font-size: 1.2em">{{.Title}}</strong>
                <br />

                <small style="color: #666"
                    >作者：{{.Author}} | 发布于：2026-01-08</small
                >

                <p style="margin: 5px 0">{{.Abstract}}</p>

                <a href="#">阅读全文 &rarr;</a>
            </li>
            {{else}}
            <li>暂时没有文章发布。</li>
            {{end}}
        </ul>
    </section>
</main>
{{end}}
